
// google font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// scss-docs-start gray-color-variables
$white:    #fff;
$gray-100: #f2f5fe;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #e0e4e9;
$gray-500: #62798D;
$gray-600: #6c757d;
$gray-700: #475A6B;
$gray-800: #3f3026;
$gray-900: #353739;
$black:    #000;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue:    #0747c3;
$indigo:  #6610f2;
$purple:  #1f61c3;
$pink:    #d63384;
$red:     #5F0B0B;
$orange:  #f65600;
$yellow:  #ffc107;
$green:   #8ADDB2;
$teal:    #00596b;
$cyan:    #0dcaf0;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800,
  "light":      $gray-100,
);

// scss-docs-start theme-color-variables
$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$orange:        $orange;
$light:         $gray-100;
$dark:          $gray-900;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "orange":     $orange,
  "light":      $light,
  "dark":       $dark
);
// scss-docs-end theme-colors-ma

$variable-prefix:             bs-; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix;

//hexToRGB function

@function hexToRGB($hex){
  @return red($hex),green($hex), blue($hex)
};

// btn shades
$btn-hover-bg-shade-amount:       15%;
$btn-hover-border-shade-amount:   20%;
$btn-active-bg-shade-amount:      20%;
$btn-active-border-shade-amount:  25%;

// scss-docs-start btn-variant-loops
@function shade-color($color, $percentage) {
  @return mix(black, $color, $percentage);
}


:root{
  @each $color, $value in $theme-colors {
      --#{$prefix}#{$color}: #{$value};
      --#{$prefix}#{$color}-rgb: #{hexToRGB($value)};
    }
}